<h1>Angular 4.0.1</h1>

<button (click)="Button_clicked()"> Pritisni me </button>

<div *ngIf="vrednost; else loading">
    Vrednost je prikazana
</div>

<ng-template #loading>
    <div>
        Učitava se vrednost
    </div>
</ng-template>

<flash-box #fb1>
        <!-- HTML Message -->
        <div>
            <label style="color: rgb(0,0,0); text-decoration: underline;">Information message</label>        
        </div>
        <label>
            Any message
        </label>
</flash-box> 

<button (click)="fb1.flashOnce()">Klikni me</button>
